{% extends "layout.html" %}
{% block title %}A Propos{% endblock %}
{% block content %}
    {{ super() }}
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <main id="about">
            <img src="/static/team.jpg" alt="background">
            <span class="head">A propos de nos services</span>
            <p class="bio">
                Chez Debouch'tou, nous sommes fiers d'offir un service de débouchage des canalisations exceptionnel à Bruxelles et dans le Brabant Wallon. Nous sommes une équipe de plombiers professionnels et expérimentés qui sont prêts à vous aider à résoudre vos problèmes de canalisations. Nous sommes disponibles 24h/24 et 7j/7 pour vous aider à résoudre vos problèmes de canalisations.
                <br></br>
                Notre équipe dévouée de professionnels est équipée des outils les plus avancés et des compétences necessaires pour résoudre rapidement et efficacement tout problème de canalisations, qu'il s'agisse d'obstructions mineurees ou de problèmes plus complexes.
            </p>
            <span class="subtitle">Ce que nous offrons</span>
            <div class="our_services">
                <div class="div1">
                    <span class="title">Expertise Technique:</span>
                    <span class="description">Nos techniciens hautement qualifiés sont formés pour diagnostiquer rapidement les problèmes et trouver des solutions durables.</span>
                </div>
                <div class="div2">
                    <span class="title">Service rapide et fiable:</span>
                    <span class="description">Nous comprenons l'importance d'une intervention rapide. Notre équipe réagit promptement pour minimiser les perturbations dans votre quotidien.</span>
                </div>
                <div class="div3">
                    <span class="title">Transparence Tarifaire:</span>
                    <span class="description">Chez Debouch'tou, la transparence est notre priorité. Nos tarifs compétitifs sont basés sur la complexité du problème, et nous vous fournissons des devis clairs avant toute intervention.</span>
                </div>
                <div class="div4">
                    <span class="title">Satisfaction Garantie:</span>
                    <span class="description">Nous nous engageons à la satisfaction totale de nos clients. Si le travail n'est pas à la hauteur de vos attentes, nous ferons tout en notre pouvoir pour le rectifier.</span>
                </div>
            </div>
            <span class="subtitle">Nos services</span>
            <div class="our_services">
                <div class="div1">
                    <span class="title">1. Débouchage des canalisations:</span> 
                    <span class="description">Au cœur de notre engagement envers la satisfaction de nos clients se trouve notre service spécialisé de débouchage des canalisations. Chez Déboucheur Xpress, nous comprenons à quel point des canalisations obstruées peuvent causer des désagréments, et c'est pourquoi notre équipe dédiée se consacre à fournir des solutions rapides et efficaces.</span>
                </div>
                    <img src="/static/debouchage.jpg" alt="" class="div5">


                <div class="div2">
                    <span class="title">2. Inspection des canalisations:</span> 
                    <span class="description">Au cœur de notre engagement envers la santé à long terme de vos canalisations se trouve notre service d'inspection avancée. Chez Debouch'tou, nous comprenons l'importance de détecter les problèmes de plomberie à un stade précoce, et c'est pourquoi nous offrons des services d'inspection des canalisations qui dépassent les attentes.</span>
                </div>
                    <img src="/static/inspection.jpg" alt="" class="div6">
                <div class="div3">
                    <span class="title">3. Réparation des fuites:</span> 
                    <span class="description">Chez Debouch'tou, nous comprenons que les fuites d'eau peuvent causer des dégâts importants et nécessitent une intervention rapide et fiable. Notre service de réparation des fuites est conçu pour résoudre ces problèmes de manière efficace, tout en minimisant les inconvénients pour vous.</span>
                </div>
                <img src="/static/fuite.jpg" alt="" class="div7">
                <div class="div4">
                    <span class="title">4. Nettoyage des égouts:</span> 
                    <span class="description">Chez Debouch'tou, nous comprenons l'importance cruciale du nettoyage régulier des égouts pour maintenir la santé de vos canalisations et assurer le bon fonctionnement de votre système de plomberie. Notre service de nettoyage des égouts est conçu pour répondre à ces besoins spécifiques, en garantissant une performance optimale de vos installations.</span>
                </div>
                <img src="/static/vidange.jpg" alt="" class="div8">
                
            </div>

            <!--Team-->
            <span class="head">L'équipe</span>
            <div class="team">
                <div class="member">
                    <img src="/static/avatar.jpg" alt="">
                    <span class="name">Camille Van Stroke</span>
                    <span class="role">Conseil</span>
                </div>
                <div class="member">
                    <img src="/static/avatar2.jpg" alt="">
                    <span class="name">John Doe</span>
                    <span class="role">Informaticien | CEO</span>
                </div>
                <div class="member">
                    <img src="/static/avatar3.jpg" alt="">
                    <span class="name">Maxime Riet</span>
                    <span class="role">Plombier | DTO</span>
                </div>
                <div class="member">
                    <img src="/static/fond.jpg" alt="">
                    <span class="name">Jean Lombard</span>
                    <span class="role">Plombier</span>
                </div>
        </main>
{% endblock %}