{% extends "layout.html" %}
{% block title %}Articles{% endblock %}
{% block content %}
    {{ super() }}
    
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <main id="articles">
            <section class="head page">
                <h1>Articles récents</h1>
            </section>
            <section class="list page">
                {% for article in articles[:3] %}
                <a class="article" href="{{url_for('article', id=article["id"])}}">
                    <img src="/static/articles/{{article["illustration"]}}" alt="">

                    <div class="rank">
                        <span class="rank_number">
                            {{article["seen"]}}
                        </span>
                        <span class="days">{{article["date"]}}</span>
                    </div>
                    <div class="title">
                        {{ article["title"] }}
                    </div>
                    <span class="category">{{ article["category"] }}</span>
                </a>
                {% endfor %}
            </section>
            <section class="head page second">
                <h1>Tous les articles</h1>
            </section>
            <section class="all_articles">
                {% for article in articles %}
                    <a href="{{url_for('article', id=article["id"])}}" class="article_card">
                        <img src="/static/articles/{{article["illustration"]}}" alt="">
                        <div class="infos">
                            <div class="datas">
                                <span>{{article["category"]}}</span>
                                
                            </div>
                            <div class="title">{{article["title"]}}</div>
                            
                        </div>
                    </a>
                {% endfor %}
                
            </section>
        </main>
{% endblock %}
