{% extends "layout.html" %}
{% block title %}Details{% endblock %}
{% block content %}
    {{ super() }}
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <main id="details_article">
            <img src="/static/articles/{{article["illustration"]}}" alt="background" id="article_background">
            <div class="article">
                <div class="fixed">
                    <div class="block"></div>
                    <span class="category">{{article["category"]}}</span>
                </div>
                
                <div class="rank">
                    <span class="rank_number">
                        Vu {{article["seen"]}} fois
                    </span>
                    <span class="days">{{article["date"]}}</span>
                </div>
                <div class="title">
                    {{article["title"]}}
                </div>
                <div class="intro">
                    {{article["intro"]}}
                </div>
                <div class="content">
			{% for bloc in article["content"].split("/bloc") %}
			<p>
                {% set parts = bloc.split("/title") %}
                {% for part in parts %}

                {% endfor %}
                {% set head = parts[0] %}
                {% set content = parts[1] %}
                {% set subcontent = content.split("/subtitle") if "/subtitle" in content else [] %}
                {% if head != "" %}
                    <h2>{{head}}</h2>
                {% endif %}
                
            
                {% if subcontent %}
                {# MARK : read the subcontent or print it as, if no subtitle #}
                    {% for text in subcontent %}
                     <span class="art_subcontent">{{text}}</span>
                         
                    {% endfor %}
                    {% else %}
                    <span class="art_content">{{content}}</span>
                   
                {% endif%}
			</p>	
			{% endfor %}
                </div>
            </div>

            <!--ADS-->
            <div class="ads">
                <img src="/static/offer/team.jpg" alt="" >
                <span class="title">Problème toujours non résolu ?</span>
                <p>
                    Si vous soupçonnez des problèmes dans vos canalisations ou si vous souhaitez une inspection préventive, Debouch'tou dispose de l'expertise et de l'équipement nécessaires pour fournir un service d'inspection par caméra fiable et professionnel.
                    <br></br>
                    Investissez dans la santé de vos canalisations aujourd'hui pour éviter des problèmes coûteux demain !
                </p>
            </div>
        </main>
{% endblock %}
