{% extends "layout.html" %}
{% block title %}Accueil{% endblock %}
{% block content %}
    {{ super() }}
           <!--Pages-->
           <section class="container-home">
            <div class="video" id="video">
                <video autoplay loop muted playsinline>
                    <source src="/static/vid1.mp4" type="video/mp4" />
                </video>
                   
            </div>
            <div class="presentation">
                <h1>Travaillez avec les plus expérimentés</h1>
                <p>
                    Votre déboucheur à Bruxelles et dans le Brabant Wallon
                </p>
                <button class="btn">Contactez-nous</button>
            </div>
           </section>

           <section id="reviews">
            <!--Avis-->
            
                <div class="review" data-aos="zoom-out-down">
                    <div class="review-text">
                        <p>Avis de Jeanne D.</p>
                        <div class="stars">
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                        </div>
                        <p>"Une équipe professionnelle et réactive ! J'ai contacté le service de débouchage en urgence, et ils sont intervenus rapidement pour résoudre le problème. Un travail impeccable, je les recommande vivement."</p>
                    </div>
                    <div class="review-author">
                        <img src="/static/debouchpp/pexels-spencer-selover-428328-2 Medium.jpeg" alt="avatar">
                    </div>
                </div>
                <div class="review">
                    <div class="review-text">
                        <p>Avis de Pierre L.</p>
                        <div class="stars">
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                        </div>
                        <p>"Service de débouchage au top ! Des experts compétents qui ont rapidement identifié et résolu le problème dans mes canalisations. Très satisfaits du service, je les rappellerai en cas de besoin."</p>
                    </div>
                    <div class="review-author">
                        <img src="/static/debouchpp/pexels-alexas-fotos-2173872 Medium.jpeg" alt="avatar">
                    </div>
                </div>
                <div class="review">
                    <div class="review-text">
                        <p>Avis de Isabelle G.</p>
                        <div class="stars">
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                        </div>
                        <p>"Une prestation de qualité et un personnel courtois. Ils ont pris le temps d'expliquer le problème et les solutions possibles. Très professionnel, je les recommande sans hésitation."</p>
                    </div>
                    <div class="review-author">
                        <img src="/static/debouchpp/pexels-ali-dashti-16881939 Medium.jpeg" alt="avatar">
                    </div>
                </div>
                <div class="review">
                    <div class="review-text">
                        <p>Avis de Marc B.</p>
                        <div class="stars">
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                        </div>
                        <p>"Intervention rapide et efficace ! Mon évier était complètement bouché, mais l'équipe de débouchage a réglé le problème en un rien de temps. Un service fiable et professionnel."</p>
                    </div>
                    <div class="review-author">
                        <img src="/static/debouchpp/pexels-bob-ward-4445705 Medium.jpeg" alt="avatar">
                    </div>
                </div>
                <div class="review">
                    <div class="review-text">
                        <p>Avis de Christine M.</p>
                        <div class="stars">
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                        </div>
                        <p>"Des professionnels compétents et sympathiques. Ils ont résolu le problème de manière efficace et ont laissé l'endroit propre après leur intervention. Je suis vraiment satisfaite du service."</p>
                    </div>
                    <div class="review-author">
                        <img src="/static/debouchpp/pexels-bruno-salvadori-2245383 Medium.jpeg" alt="avatar">
                    </div>
                </div>
                <div class="review">
                    <div class="review-text">
                        <p>Avis de Nicolas P.</p>
                        <div class="stars">
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                        </div>
                        <p>"Service 24/7 très pratique ! J'ai eu un problème de canalisation tard dans la soirée, et ils sont venus immédiatement. Une équipe dévouée et compétente. Je recommande."</p>
                    </div>
                    <div class="review-author">
                        <img src="/static/debouchpp/pexels-bruno-salvadori-2269872 Medium.jpeg" alt="avatar">
                    </div>
                </div>
                <div class="review">
                    <div class="review-text">
                        <p>Avis de Anna F.</p>
                        <div class="stars">
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                        </div>
                        <p>"Un service exceptionnel du début à la fin. Le personnel est ponctuel, professionnel et connaît son métier. Si vous avez des problèmes de plomberie, c'est l'équipe à appeler."</p>
                    </div>
                    <div class="review-author">
                        <img src="/static/debouchpp/pexels-caio-3042160 Medium.jpeg" alt="avatar">
                    </div>
                </div>
                <div class="review">
                    <div class="review-text">
                        <p>Avis de Julien R.</p>
                        <div class="stars">
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                        </div>
                        <p>"J'ai fait appel à ce service pour un débouchage d'urgence, et je n'ai pas été déçu. Ils ont résolu le problème rapidement et à un prix raisonnable. Je les recommande sans hésitation."</p>
                    </div>
                    <div class="review-author">
                        <img src="/static/debouchpp/pexels-lucas-decrock-1253664 Medium.jpeg" alt="avatar">
                    </div>
                </div>
                <div class="review">
                    <div class="review-text">
                        <p>Avis de Sophie C.</p>
                        <div class="stars">
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                        </div>
                        <p>"Une entreprise de confiance pour le débouchage. Ils ont traité notre problème de manière efficace et ont pris le temps de nous donner des conseils pour éviter de futurs soucis. Merci !"</p>
                    </div>
                    <div class="review-author">
                        <img src="/static/debouchpp/pexels-spencer-selover-428328 Medium.jpeg" alt="avatar">
                    </div>
                </div>
                <div class="review">
                    <div class="review-text">
                        <p>Avis de Thomas G.</p>
                        <div class="stars">
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                        </div>
                        <p>"Un service client exceptionnel et des techniciens compétents. Ils sont venus rapidement, ont diagnostiqué le problème et l'ont résolu rapidement. Je recommande vivement leurs services de débouchage."</p>
                    </div>
                    <div class="review-author">
                        <img src="/static/debouchpp/pexels-yan-krukau-6617683 Medium.jpeg" alt="avatar">
                    </div>
                </div>
                <div class="review">
                    <div class="review-text">
                        <p>Avis Anonyme.</p>
                        <div class="stars">
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                        </div>
                        <p>"Une prestation de qualité et un personnel courtois. Ils ont pris le temps d'expliquer le problème et les solutions possibles. Très professionnel, je les recommande sans hésitation."</p>
                    </div>
                    <div class="review-author">
                        <img src="/static/debouchpp/pexels-татьяна-танатова-3936894 Medium.jpeg" alt="avatar">
                    </div>
                </div>
                <div class="review">
                    <div class="review-text">
                        <p>Avis Anonyme.</p>
                        <div class="stars">
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                            <span class="star">&star;</span>
                        </div>
                        <p></p>
                    </div>
                    <div class="review-author">
                        <img src="/static/debouchpp/pexels-bruno-salvadori-2269872 Medium.jpeg" alt="avatar">
                    </div>
                </div>
           </section>
           
           

        <main id="articles">
            <img src="/static/ventouse.png" alt="" class="ventouse">
            <section class="head">
                <h1>Articles récents</h1>
                <a href="{{url_for('articles')}}" class="see_more">Voir plus</a>
            </section>
            <section class="list">
                {% for item in articles %}
                <a class="article" href="{{url_for('article', id=item.id)}}">
                    <img src="/static/{{item.illustration}}" alt="">
                    <div class="rank">
                        <span class="rank_number">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                                <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15"/>
                              </svg>
                            {{item.note}}
                        </span>
                        <span class="days">{{item.date}}</span>
                    </div>
                    <div class="title">
                        {{ item.title }}
                    </div>
                    <span class="category">{{ item.category }}</span>
                </a>
                {% endfor %}
            </section>
        </main>
        
        <!--Services Carrousel-->
        <div class="service_carrousel">
            <div class="service_carrousel_container" id="carrousel-1">
                 <!--right button-->
                <div class="btn-right" id="btn-right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
                    </svg>
                </div>

                <!--left button-->
                <div class="btn-left" id="btn-left">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                    </svg>
                </div>
                <div class="service_carrousel_item">
                    <img src="/static/debouchpp/pexels-yan-krukau-6617683 Medium.jpeg" alt="">
                    <div class="service_carrousel_text">
                        <h2>Service 24/7</h2>
                        <p>Notre équipe est disponible 24h/24 et 7j/7 pour répondre à vos besoins de débouchage. Nous intervenons rapidement pour résoudre vos problèmes de plomberie.</p>
                    </div>
                </div>
                <div class="service_carrousel_item">
                    <img src="/static/debouchpp/pexels-alexas-fotos-2173872 Medium.jpeg" alt="">
                    <div class="service_carrousel_text">
                        <h2>Service 25/7</h2>
                        <p>Notre équipe est disponible 24h/24 et 7j/7 pour répondre à vos besoins de débouchage. Nous intervenons rapidement pour résoudre vos problèmes de plomberie.</p>
                    </div>
                </div>
                <div class="service_carrousel_item">
                    <img src="/static/debouchpp/pexels-bruno-salvadori-2245383 Medium.jpeg" alt="">
                    <div class="service_carrousel_text">
                        <h2>Service 26/7</h2>
                        <p>Notre équipe est disponible 24h/24 et 7j/7 pour répondre à vos besoins de débouchage. Nous intervenons rapidement pour résoudre vos problèmes de plomberie.</p>
                    </div>
                </div>
                <div class="service_carrousel_item">
                    <img src="/static/debouchpp/pexels-spencer-selover-428328 Medium.jpeg" alt="">
                    <div class="service_carrousel_text">
                        <h2>Service 27/7</h2>
                        <p>Notre équipe est disponible 24h/24 et 7j/7 pour répondre à vos besoins de débouchage. Nous intervenons rapidement pour résoudre vos problèmes de plomberie.</p>
                    </div>
                </div>
            </div>

            
        </div>
{% endblock %}
