{% extends "layout.html" %}
{% block title %}Accueil{% endblock %}
{% block content %}
    {{ super() }}
           <!--Pages-->
           <section class="container-home">
            <div class="video" id="video">
                <video autoplay loop muted playsinline>
                    <source src="/static/vid1.mp4" type="video/mp4" />
                </video>
                   
            </div>
            <div class="presentation">
                <h1>Travaillez avec les plus expérimentés</h1>
                <p>
                    Votre déboucheur à Bruxelles et dans le Brabant Wallon
                </p>
                <a class="btn" href="https://wa.me/0032496970009">Contactez-nous</a>
            </div>
           </section>
        <main id="articles">
            <img src="/static/ventouse.png" alt="" class="ventouse">
            <section class="head">
                <h1>Articles récents</h1>
                <a href="{{url_for('articles')}}" class="see_more">Voir plus</a>
            </section>
            <section class="list">
                {% for article in articles %}
                <a class="article" href="{{url_for('article', id=article["id"])}}">
                    <img src="/static/articles/{{article["illustration"]}}" alt="">
                    <div class="rank">
                        <span class="rank_number">
                            Lu {{article["seen"]}} fois
                        </span>
                        <span class="days">{{article["date"]}}</span>
                    </div>
                    <div class="title">
                        {{ article["title"]}}
                    </div>
                    <span class="category">{{ article["category"] }}</span>
                </a>
                {% endfor %}
            </section>
        </main>
       
        <!--Services Carrousel-->
        <div class="service_carrousel">
            <div class="service_infos">
                <h2 id="current_service_title">Titre</h2>
                <p id="current_service_resume">Résumé</p>
                <div class="btns">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-arrow-right" viewBox="0 0 16 16" id="mini_right_btn">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                    </svg>
                </div>
             </div>

            <div class="service_carrousel_container" id="carrousel-1">
                 <!--right button-->
                <div class="btn-right" id="btn-right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
                    </svg>
                </div>

                <!--left button-->
                <div class="btn-left" id="btn-left">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                    </svg>
                </div>
                {% for service in services %}

                <div class="service_carrousel_item">
                    <img src="/static/services/{{service["illustration"]}}">
                    <div class="service_carrousel_text">
                        <h2>{{service["title"]}}</h2>
                        <p>{{service["resume"]}}</p>
                    </div>
                </div>
                {% endfor%}
                
            </div>

            
        </div>
{% endblock %}
