@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,800;1,300&display=swap");
body {
  overflow: hidden;
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body .container {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgb(247, 247, 247);
  background-image: url(../static/fond.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-clip: content-box;
  border-radius: 2rem;
  z-index: -1;
  filter: blur(0.5rem) brightness(0.8);
}
body .fond {
  content: "";
  position: absolute;
  align-self: center;
  justify-self: center;
  left: 10%;
  width: 80%;
  height: 80%;
  background-image: url(../static/fond.jpg);
  background-position: center;
  background-clip: content-box;
  border-radius: 2rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
  filter: brightness(0.8);
}
body header {
  z-index: 3;
  position: fixed;
  width: 100%;
}
body header .bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  max-height: 50px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  body header .bar {
    justify-content: space-between;
    width: 100vw;
    padding: 0;
  }
}
body header .bar .logo img {
  height: 50px;
}
body header .bar nav {
  display: flex;
  transition: all 0.2s ease-in-out;
}
body header .bar nav ul {
  display: flex;
  gap: 1rem;
}
body header .bar nav ul a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in-out;
}
body header .bar nav ul a:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  body header .bar nav {
    display: none;
  }
  body header .bar nav.extend {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    z-index: 5;
    align-self: center;
    justify-self: center;
  }
  body header .bar nav.extend ul {
    flex-direction: column;
  }
  body header .bar nav.extend ul a {
    color: whitesmoke;
    font-weight: 400;
  }
}
body header .bar .burger {
  display: flex;
  flex-direction: column;
  z-index: 1000;
}
@media screen and (min-width: 768px) {
  body header .bar .burger {
    display: none;
  }
}
body header .bar .burger .line {
  position: relative;
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.2s ease-in-out;
}
body header .bar .burger .line.active {
  display: none;
  transition: all 0.2s ease-in-out;
}
body header .bar .burger .line.active2 {
  background-color: rgb(255, 255, 255);
}
body header .bar .burger .line.dark {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}
body .container-home {
  display: flex;
  width: 100%;
  margin: 2rem;
  align-self: center;
  justify-self: center;
  flex-direction: row;
  z-index: 3;
  color: whitesmoke;
}
body .container-home.hide {
  display: none;
}
@media screen and (max-width: 768px) {
  body .container-home {
    flex-direction: column;
    margin: 0;
  }
}
body .container-home p {
  margin: 0px;
  padding: 0px;
}
body .container-home .presentation h1 {
  font-size: calc(1rem + 5vw);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
}
body .container-home .presentation p {
  max-width: 1000px;
}
@media screen and (max-width: 768px) {
  body .container-home .presentation p {
    padding-inline: 10px;
    text-align: justify;
  }
}
body .container-home .description {
  color: black;
  padding: 10px;
  border-radius: 2rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  body .container-home .description {
    display: none;
  }
}
body .container-home .description .title {
  font-size: calc(1vw + 1vh);
  margin: 0;
  padding: 0;
  top: -50px;
  text-overflow: clip;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: #e5e5e5;
  text-shadow: black 2px 2px 2px;
  transform: rotateZ(-5deg);
}
body .container-home .description .activities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
body .container-home .description .activities:nth-child(1) {
  grid-area: 1/1/2/3;
}
body .container-home .description .activities:nth-child(2) {
  grid-area: 2/1/3/2;
}
body .container-home .description .activities:nth-child(3) {
  grid-area: 2/2/3/3;
}
body .container-home .description .activities:nth-child(4) {
  grid-area: 3/1/4/2;
}
body .container-home .description .activities:nth-child(5) {
  grid-area: 3/2/4/3;
}
body .container-home .description .activities .activity {
  display: flex;
  background-color: #e5e5e5;
  padding: 5px;
  text-align: center;
  justify-items: center;
  align-items: center;
  border-radius: 1rem;
  height: 100px;
}
body footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body footer a {
  text-decoration: underline;
  color: black;
  transition: all 0.2s ease-in-out;
}
body footer a:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}
body footer a::before {
  content: "👉";
  margin-right: 5px;
}

/*# sourceMappingURL=css.css.map */
