@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,800;1,300&display=swap");
body {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body .container {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  border-radius: 2rem;
  z-index: -1;
}
body .fond {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  z-index: 2;
}
body .fond img {
  margin: 5%;
  border-radius: 2rem;
  box-shadow: grey 2px 2px 2px;
  background-color: rgb(63, 63, 255);
}
body header {
  z-index: 5;
  position: fixed;
  width: 100%;
}
body header .bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 1rem;
  max-height: 50px;
  width: 100%;
  margin: 10px;
}
@media screen and (max-width: 768px) {
  body header .bar {
    justify-content: space-between;
    width: 100vw;
    padding: 0;
  }
}
body header .bar .logo img {
  margin: 10px;
  height: 100px;
}
body header .bar nav {
  display: flex;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
}
body header .bar nav ul {
  display: flex;
  gap: 3rem;
}
body header .bar nav ul a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in-out;
}
body header .bar nav ul a:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  body header .bar nav {
    display: none;
  }
  body header .bar nav.extend {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    z-index: 5;
    align-self: center;
    justify-self: center;
  }
  body header .bar nav.extend ul {
    flex-direction: column;
  }
  body header .bar nav.extend ul a {
    color: whitesmoke;
    font-weight: 400;
  }
}
body header .bar .burger {
  display: flex;
  flex-direction: column;
  z-index: 1000;
}
@media screen and (min-width: 768px) {
  body header .bar .burger {
    display: none;
  }
}
body header .bar .burger .line {
  position: relative;
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.2s ease-in-out;
}
body header .bar .burger .line.active {
  display: none;
  transition: all 0.2s ease-in-out;
}
body header .bar .burger .line.active2 {
  background-color: rgb(255, 255, 255);
}
body header .bar .burger .line.dark {
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}
body .container-home {
  display: flex;
  position: relative;
  width: 80%;
  height: 70vh;
  margin-top: 100px;
  margin-bottom: 100px;
  align-self: first baseline;
  justify-self: center;
  flex-direction: column;
  z-index: 3;
  background: rgb(0, 137, 255);
  background: -moz-linear-gradient(155deg, rgba(0, 137, 255, 0.5991190421) 63%, rgba(255, 255, 255, 0) 86%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(155deg, rgba(0, 137, 255, 0.5991190421) 63%, rgba(255, 255, 255, 0) 86%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(155deg, rgba(0, 137, 255, 0.5991190421) 63%, rgba(255, 255, 255, 0) 86%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0089ff",endColorstr="#ffffff",GradientType=1);
  border-radius: 2rem;
  color: whitesmoke;
}
body .container-home.hide {
  display: none;
}
@media screen and (max-width: 768px) {
  body .container-home {
    flex-direction: column;
    margin: 0;
  }
}
body .container-home p {
  margin: 0px;
  padding: 0px;
}
body .container-home .up {
  display: flex;
  flex-direction: row;
}
body .container-home .up .presentation {
  width: 50%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container-home .up .presentation h1 {
  width: 70%;
  font-size: calc(1rem + 2vw);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
}
body .container-home .up .presentation p {
  width: 70%;
}
body .container-home .up img {
  position: relative;
  top: -100px;
  width: 50%;
  object-fit: cover;
}
body .container-home .reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: max-content;
  gap: 10px;
}
body .container-home .reviews h1 {
  font-size: calc(1rem + 2vw);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
}
body .container-home .reviews .review {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 300px;
}
body .container-home .reviews .review .review-text {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: baseline;
  margin: 0;
  padding: 0;
  position: absolute;
  color: whitesmoke;
  z-index: 10;
  height: 100%;
}
body .container-home .reviews .review .review-text :first-child {
  color: rgb(0, 162, 255);
  font-weight: 900;
  height: 100%;
}
body .container-home .reviews .review .review-text :nth-child(2) {
  color: whitesmoke;
  font-weight: 400;
  padding-bottom: 50px;
  font-size: small;
}
body .container-home .reviews .review .review-author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  object-fit: cover;
  height: 100%;
}
body .container-home .reviews .review .review-author img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: brightness(0.5);
}
body footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body footer a {
  text-decoration: underline;
  color: black;
  transition: all 0.2s ease-in-out;
}
body footer a:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}
body footer a::before {
  content: "👉";
  margin-right: 5px;
}

/*# sourceMappingURL=css.css.map */
